// This SCSS styles will be compiled into the CSS bundle automatically.

/*! purgecss start ignore */

/*! PUT YOU STYLE HERE TO AVOID GETTING REMOVING BY PURGECSS. */
body {
  font-family: Garamond, serif;
}
h1 {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1;
}
/*! purgecss end ignore */
